body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 4em;
}

button {
  margin: auto;
}

div {

}

.game_board {
  margin: auto;
  width: 500px;
  height:500px;
  max-width: 500px;
  max-height: 500px;
  border: 4px solid black;
}

#top_left, #top_middle, #top_right, #middle_left, #centre, #middle_right, #bottom_left, #bottom_middle, #bottom_right {
  width: 33%;
  height: 33%;
  background-color: pink;
  border: 4px solid black;
  box-sizing: border-box;
  float: left;
}

#top_left {

}

#top_middle {

}

#top_right {

}

#middle_left {

}

#centre {

}

#middle_right {

}

#bottom_left {

}

#bottom_middle {

}

#bottom_right {

}
