body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 4em;
}

button {
  margin: auto;
}

div {

}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
  width: 33.3%;
  height: 33.3%;
  background-color: pink;
  border: 4px solid black;
  box-sizing: border-box;
  float: left;
  /*margin: 1px;*/
}

.game_board {
  margin: auto;
  width: 500px;
  height:500px;
  max-width: 500px;
  max-height: 500px;
  border: 4px solid black;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/

}

/* Not sure if I'll need these: */

.one {
  /*order: 1;*/
}

.two {
  /*order: 2;*/
}

.three {
  /*order: 3;*/
}

.four {
  /*order: 4;*/
}

.five {
  /*order: 5;*/
}

.six {
  /*order: 6;*/
}

.seven {
  /*order: 7;*/
}

.eight {
  /*order: 8;*/
}

.nine {
  /*order: 9;*/
}




/*My attempt at 'grid' code.
Wrecked everything.
Keeping for posterity.

.game_board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.two {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.three {
  grid-row: 3 / 3;
  grid-column: 1 / 3;
}
.four {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.five {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.six {
  grid-column: 3 / 3;
  grid-row: 2 / 3;
}
.seven {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
}
.eight {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
}
.nine {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}*/
